@font-face {
    font-family: "OngleleafBuhungJihyeSaem";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungJihyeSaem/OngleleafBuhungJihyeSaem.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungJihyeSaem/OngleleafBuhungJihyeSaem.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungJihyeSaem/OngleleafBuhungJihyeSaem.ttf") format("truetype");
    font-display: swap;
}

.OngleleafBuhungJihyeSaem {
    font-family: "OngleleafBuhungJihyeSaem";
}
